<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="height=1080, width=1920, user-scalable=no" />

  <link rel="stylesheet" type="text/css" href="/css/index.css">

  <script type="text/javascript" src="http://svcapi.gigagenie.ai/sdk/v1.0/js/gigagenie.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>

</head>
<body onload="init()">
  <center>
    <input type="submit" value="STOP TTS" class="button button-no" onclick="stopTTS()">
    <br>
    <br>
    <br>
    <input type="submit" value="START TTS" class="button button-yes" onclick="control()">
    <br>
    <br>
    <br>
    <input type="submit" value="Power on" class="button button-on" onclick="handlePower('on')">
    <br>
    <br>
    <br>
    <input type="submit" value="Power off" class="button button-off" onclick="handlePower('off')">
  </center>
  <!-- Simple audio playback -->
  <audio src="http://developer.mozilla.org/@api/deki/files/2926/=AudioTest_(1).ogg" autoplay>
    Your browser does not support the
    <code>audio</code>
    element.
  </audio>
</body>
</html>
